name: Publish and Release

on:
  push:
    branches:
      - master

env:
  NODE_VERSION: 24

permissions:
  contents: write
  id-token: write

jobs:
  release:
    runs-on: ubuntu-latest
    name: Publish and Release
    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Setup Node
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: npm
      - name: action-install
        uses: akashic-games/action-install@8037b5063b95738aee6cf9bc8c6df1026cd4262d #v1.0.0
      - name: Prepare
        run: |
          npm test
          npm shrinkwrap
      - name: Publish and Release
        uses: akashic-games/action-release@14c9885ffa51f0f5b8590da0d0139b577bebefcf # v3.0.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
