name: Publish and Release

on:
  push:
    branches:
      - master

env:
  NODE_VERSION: 24

permissions:
  contents: write
  id-token: write

jobs:
  release:
    runs-on: ubuntu-latest
    name: Publish and Release
    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Setup Node
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: npm
      - name: Make value for before option
        id: date-value
        uses: actions/github-script@f28e40c7f34bde8b3046d885e986cb6290c5673b #v7.1.0
        with:
          script: |
            const dt = new Date()
            dt.setDate(dt.getDate() - 7)
            const beforeDate = dt.toLocaleDateString("ja-JP", {year: "numeric", month: "2-digit", day: "2-digit"}).replaceAll('/', '-')
            return beforeDate
          result-encoding: string
      - name: Prepare
        run: |
          npm i --before ${{ steps.date-value.outputs.result }}
          if [[ `git status --porcelain` ]]; then
            echo "- npm install results in changes!"
            exit 1
          fi
          npm test
          npm shrinkwrap
      - name: Publish and Release
        uses: akashic-games/action-release@e4e3c8901b8ed92356c5eb9cf6cfc573a9c4ce9b # v2.1.4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          npm_token: "dummy" # action-release の内部で利用しているライブラリが npm トークンを必須としているためダミーを設定
